# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
env/
venv/
calendly-env/

# Node / React
calendly-clone-landing/node_modules/
calendly-clone-landing/build/
calendly-clone-landing/.env

# OS / Misc
.DS_Store
*.log
